<!DOCTYPE html>
<html>
<head>
    <title>Change Order Status</title>
</head>
<body>
    <h1>Change Order Status</h1>

    <form method="POST" action="http://127.0.0.1:8000/core/biz/2/updateorder/1">
        {% csrf_token %}

        <label for="new_status">New Status:</label>
        <select id="new_status" name="new_status" required>
            <option value="1">Wysłane</option>
            <option value="2">Zrealizowane</option>
        </select>
        <br>

        <input type="hidden" id="order" name="order" value=1>

        <button type="submit">Change Status</button>
    </form>
</body>
</html>
